[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "==0.0.305"
langchain-core = ">=0.3.0,<0.4.0"
langchain-ollama = ">=0.3.0,<0.4.0"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.13"
